.App {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', sans-serif;
}

.header-container {
    display: flex;
    flex-direction: row;
    background-color: #FAFA33;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #313131;
}

.search-form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.search-form input {
    border: none;
    background: linear-gradient(35deg, #494949, #313131);
    font-size: 1rem;
    color: white;
    padding: 0.5rem 2.3rem;
    border-radius: 1rem;
    outline: none;
}

.search-form svg {
    position: absolute;
    margin: 10px 10px;
    color: white
}

.search-form div {
    position: relative;
    width: 100%;
}


.body {
    padding: 30px;
}


.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 5rem;
    padding: 30px;
    align-items: baseline;
}

.card {
    vertical-align: top;
    text-align: left;
    overflow: hidden;
    min-height: 100%;
    display: inline-block;
    white-space: normal;
    letter-spacing: normal;
    list-style-type: none;
}



/*

.card {
    img {
        width: 100%;
        border-radius: 2rem;
    }
    h4 {
        text-align: center;
        padding: 1rem
    }
}

background: linear-gradient(
*/
